.qlmh .left-panels{ 
  display: flex;
  flex-direction: column;
}

.qlmh .left-panels .list-subjects .title{
  margin-bottom: 20px;
}

.qlmh .left-panels .list-subjects .grid-view{
  height: 500px;
}

.qlmh .right-panels{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  
}