.list-class{
  height: 100%;
  margin-top: 20px;
}

.list-class .title{
  text-align: center;
  padding: 20px;
}

.list-class__actions{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}